* {
    box-sizing: border-box;
}

img {
    height: 600px;
    width: 400px;
}
body {
    display: flex;
    /* justify-content: center; */
    margin: 0;
}

.container {
    position: absolute;
    border: 5px solid tomato;
    height: 610px;
    width: 410px;
    /* display: flex;
    justify-content: flex-end; */
    overflow: hidden;
}

/* you need a container here to make the effect because, otherwise, the image shrinks instead of just disapearing when we move left */

.top-image {
    position: absolute;
    z-index: 10;
    overflow: hidden;
}
.bottom-image {
    position: absolute;
}

.bar {
    position: relative;
    height: 100%;
    /* same as the pictures */
    width: 20px;
    background-color: orange;
    z-index: 20;
    display: flex;
    /* justify-content: center; */
    overflow: visible;
    left: 98%;
    cursor: pointer;
}
